<div class="mainContainer" style="overflow: scroll;">

    <div class="teamsContainer">


        <div class="teamBox" *ngFor="let team of myteams">
            <div class="medMargin"></div>

            <div class="title teamTitle" *ngIf="myteams!==[]">{{team.name}}</div>

            <div class="medMargin"></div>
            <div class="teamHorizontalContainer" *ngIf="myteams!==[]">
                <div class="medMargin"></div>
                <div class="topContainer">
                    <div class="topTitle">Posición en el Top</div>
                    <div class="minMargin"></div>
                    <div class="topScroll">
                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>

                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>
                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>

                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>
                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>

                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>
                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>

                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>
                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>

                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>
                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>
                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>
                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>
                        <div class="scrollItem">
                            <div class="scrollPositionText">Equipo Ludiums</div>
                            <div class="scrollPositionText">56pts</div>
                        </div>
                    </div>
                </div>

                <div class="teamCardContainer">

                    <div class="pilotCard cardOverride" *ngFor="let driver of team.drivers">
                        <div class="pilotImageContainer">
                            <img src="assets/images/p (2).png" class="pilotImage">
                        </div>

                        <div class="simpleText">{{driver.name}}</div>
                        <div class="separator"></div>
                        <div class="priceAndFlag">
                            <div class="simpleText">{{driver.price}}$</div>
                            <img class="flag" src={{driver.country}}>
                        </div>

                        <div class="replaceHover" (click)="replaceComponent(driver)">
                            <div class="simpleText" style="color: white; font-size:clamp(14px,1vw,2vw)">Reemplazar</div>
                        </div>

                    </div>

                    <div class="carCard">

                        <div class="carImageContainer">
                            <img src="assets/images/c (2).png" class="carImage">
                        </div>
                        <div class="simpleText">Ferraro</div>
                        <div class="separator"></div>
                        <div class="priceAndFlag">
                            <div class="simpleText">75000$</div>
                            <img class="flag" src="https://countryflagsapi.com/png/Italy">

                        </div>
                        <div class="replaceHover">
                            <div class="simpleText" style="color: white; font-size:clamp(14px,1vw,2vw)">Reemplazar</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="teamBox" *ngIf="myteams.length<1">

            <div class="bigMargin"></div>

            <div class="smallCenterTeamBox">
                <div class="medMargin"></div>

                <div class="simpleText" style="color: white;">El equipo debe estar completo para poder participar en la
                    liga
                    pública</div>
                <div class="medMargin"></div>

                <div class="createButton" (click)="createNewTeam()">
                    <div class="simpleText" style="color: white;">Crear Equipo</div>
                </div>


            </div>


        </div>

        <div class="teamBox" *ngIf="myteams.length<2">

            <div class="bigMargin"></div>

            <div class="smallCenterTeamBox">
                <div class="medMargin"></div>

                <div class="simpleText" style="color: white;">El equipo debe estar completo para poder participar en la
                    liga
                    pública</div>
                <div class="medMargin"></div>

                <div class="createButton" (click)="createNewTeam()">
                    <div class="simpleText" style="color: white;">Crear Equipo</div>
                </div>


            </div>


        </div>


        <div class="bigMargin"></div>
        <div class="bigMargin"></div>
        <div class="bigMargin"></div>
        <div class="bigMargin"></div>
        <div class="bigMargin"></div>
        <div class="bigMargin"></div>

    </div>


</div>