


.teamsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.teamBox{
    display: flex;
    width: 86%;
    border-top: 1px solid white;
    flex-direction: column;
    padding: 10px;
}
.teamHorizontalContainer{
    display: flex;
    justify-content: space-between;
}
.titleContainer{
    width: 100%;
}
.teamTitle{
    font-size: clamp(30px, 3vw, 4vw) !important;
}
.topContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    max-width: 500px;
    max-height: 240px;
}
.topTitle{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: clamp(14px, 1.2vw, 2vw);
    color: var(--Letters);
    line-height: normal;
    font-weight: bolder;
    display: flex;

}
.topScroll{
    width: 100%;
    overflow: scroll;
    padding: 0 33px 0px 3px;
    box-sizing: border-box;

}


.scrollItem{
    display: flex;
    width: 100%;
    margin: 3px 0px;
    justify-content: space-between;
}

.scrollPositionText{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: clamp(11px, 1vw, 2vw);
    color: var(--Letters);
    line-height: normal;
    font-weight: bolder;
    display: flex;

}



