<div class="title">
    Crear un Campeonato
</div>

<div class="textAndInput">
    <div class="text" style="width: 14%;">Nombre</div>
    <input class="inputBackground" style="width: 80%;" #name>
</div>
<div class="textAndInput">
    <div class="text" style="width: 14%;">Fecha de inicio</div>
    <input matInput class="inputBackground" [matDatepicker]="picker" style="width: 20%;" readonly #beginDate>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</div>

<div class="textAndInput">
    <div class="text" style="width: 14%;">Fecha de finalización</div>

    <input matInput class="inputBackground" [matDatepicker]="picker2" style="width: 20%;" readonly #endDate>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
</div>

<div class="textAndInput">
    <div class="text" style="width: 14%;">Hora de Inicio</div>
    <input class="inputBackground" style="width: 20%;" #beginHour type="time" matInput name="week" min="09:00"
        max="18:00">
</div>

<div class="textAndInput">
    <div class="text" style="width: 14%;">Hora de Cierre</div>
    <input class="inputBackground" style="width: 20%;" #endHour type="time" matInput name="week" min="09:00"
        max="18:00">
</div>

<div class="text">Descripcion de reglas de puntuacion</div>

<textarea class="description" name="" id="" cols="100%" rows="10" #description></textarea>

<div class="buttonContainer">
    <div class="doneButton" (click)="submit(
        {   name: name.value,
            startingDate:beginDate.value,
            finishingDate:endDate.value,
            startingTime:beginHour.value,
            finishingTime:endHour.value,
            description:description.value,
            id:''})">
        <div class="text" style="color: white; user-select:none">Crear Campeonato</div>
    </div>
</div>