<div class="barBackground">
    <div class="navBarTextTitle">
        XFIA
    </div>

    <div class="navBarButton" [routerLink]="['/admin/careers']">
        <div class="buttonAuxContainer">
            <img src="assets/Icons/IconFlag.svg" alt="">
            <div class="navVerticalSpace"></div>
            <div class="navBarTextButton">
                Carreras
            </div>
        </div>
    </div>

    <div class="navBarButton">
        <div class="buttonAuxContainer">
            <img src="assets/Icons/IconPilot.svg" alt="">
            <div class="navVerticalSpace"></div>
            <div class="navBarTextButton">
                Pilotos
            </div>
        </div>
    </div>

    <div class="navBarButton">
        <div class="buttonAuxContainer">
            <img src="assets/Icons/IconCar.svg" alt="">
            <div class=" navVerticalSpace">
            </div>
            <div class="navBarTextButton">
                Escuderias
            </div>
        </div>
    </div>

    <div class="navBarButton" [routerLink]="['/admin/championship']">
        <div class="buttonAuxContainer">
            <img src="assets/Icons/IconChampionship.svg" alt="">
            <div class=" navVerticalSpace">
            </div>
            <div class="navBarTextButton">
                Campeonatos
            </div>
        </div>
    </div>

    <div class="navBarButton">
        <div class="buttonAuxContainer">
            <img src="assets/Icons/IconInfo.svg" alt="">
            <div class=" navVerticalSpace">
            </div>
            <div class="navBarTextButton">
                Informacion
            </div>
        </div>
    </div>


</div>
<router-outlet></router-outlet>