<div class="navBarContainer">
    <div class="navBarContainer">
        <div class="navBarButton navBarButtonTitle" style="
        font-size:clamp(20px, 1.2vw, 2.5vw) !important;">
            XFIA</div>
        <div class="navBarButton" [routerLink]="['/pages/myPortal']"> Mis Equipos</div>
        <div class="navBarButton" [routerLink]="['/pages/league']">Liga Privada</div>
    </div>

    <div class="navBarContainer">
        <div class="navBarText moneyBackground" style="color: #E5FFAD!important;">Fondos: {{user.money}}$</div>
        <div mat-button [matMenuTriggerFor]="notificationMenu" class="navBarButton"
            style="display: flex; align-items: center;">
            <mat-icon style="color: white ;">
                notifications
            </mat-icon>
        </div>

        <div mat-button [matMenuTriggerFor]="menu" class="navBarButton" style="display: flex; align-items: center;">
            <div class="navBarText">{{user.username}}</div>
            <mat-icon style="color: white ;">
                account_circle
            </mat-icon>
        </div>

    </div>


    <mat-menu #menu="matMenu">

        <div mat-menu-item style="display:flex; align-items: center;" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <div class="simpleText" style="color: black;">Logout</div>
        </div>
    </mat-menu>


    <mat-menu #notificationMenu="matMenu">



        <div mat-menu-item *ngFor="let notification of notifications">

            <div class="simpleText" style="color: black;">{{notification.description}}</div>
            <div *ngIf="notification.type===1" style="display: flex; align-items:center">
                <div class="optionButton">
                    <div class="simpleText" (click)="accept(notification)">
                        Aceptar
                    </div>
                </div>
                <div class="optionButton" style="background-color: rgb(219, 102, 102); "
                    (click)="reject (notification)">
                    <div class="simpleText">
                        Cancelar
                    </div>
                </div>

            </div>
            <div class="separatorH"></div>

        </div>

    </mat-menu>

</div>