<div class="navBarContainer">
    <div class="navBarContainer">
        <div class="navBarButton navBarButtonTitle" style="
        font-size:clamp(20px, 1.2vw, 2.5vw) !important;">
            XFIA</div>
        <div class="navBarButton" [routerLink]="['/pages/myPortal']"> Mis Equipos</div>
        <div class="navBarButton" [routerLink]="['/pages/store']">Tienda</div>
    </div>

    <div class="navBarContainer">
        <div class="navBarText moneyBackground" style="color: black !important;">Fondos: 16000$</div>
        <div class="navBarButton" style="display: flex; align-items: center;">
            <div class="navBarText">Adrian Gonzalez</div>
            <mat-icon style="color: white ;">
                account_circle
            </mat-icon>
        </div>

    </div>



</div>