<div class="mainContainer mainViewOverride" style="overflow: scroll;    ;">



    <div class="teamCardContainerOverride">

        <div class="pilotCard smallCardOverride" *ngFor="let driver of shoppingCarTeam.drivers">
            <div class="pilotImageContainer">
                <img src="assets/images/p (2).png" class="pilotImage">
            </div>

            <div class="simpleText">{{driver.name}}</div>
            <div class="separator"></div>
            <div class="priceAndFlag">
                <div class="simpleText">{{driver.price}}$</div>
                <img class="flag" src={{driver.country}}>
            </div>

            <div class="replaceHover" (click)="sellIDriver(driver)">
                <div class="simpleText" style="color: white; font-size:clamp(14px,1vw,2vw)"> Vender
                </div>
            </div>

        </div>

        <div class="carCard smallCarCardOverride" *ngIf="shoppingCarTeam.scudery">

            <div class="carImageContainer">
                <img src="assets/images/c (2).png" class="carImage">
            </div>
            <div class="simpleText">{{shoppingCarTeam.scudery.name}}</div>
            <div class="separator"></div>
            <div class="priceAndFlag">
                <div class="simpleText">{{shoppingCarTeam.scudery.price}}$</div>
                <img class="flag" src="https://countryflagsapi.com/png/Italy">

            </div>
            <div class="replaceHover" (click)="sellIScudery()">
                <div class="simpleText" style="color: white; font-size:clamp(14px,1vw,2vw)"> Vender
                </div>
            </div>
        </div>




    </div>
    <div class="textAndInput">
        <div class="simpleSmallText" style="width: 100%; justify-content:center">Nombre del Equipo</div>
        <input class="inputBackground" style="width: 30%;" id="teamName" #team>
    </div>

    <div class="separator"></div>
    <div class="smallMargin"></div>
    <div class="storeButtonContainer">
        <div style="display: flex;">
            <div class="cardButton" (click)="seeingDrivers=true">
                <div class="simpleText">Pilotos</div>
            </div>
            <div class="cardButton" (click)="seeingDrivers=false">
                <div class="simpleText">Escuderías</div>
            </div>
        </div>

        <div class="cardButton" (click)="pay()" *ngIf="currentAction==='creatingTeam'">
            <div class="simpleText" style="color: white;">Pagar {{total}}$</div>
        </div>




    </div>
    <div class="smallMargin"></div>
    <div class="driversContainer" *ngIf="seeingDrivers">
        <div class="pilotCard cardOverride" *ngFor="let driver of pilots">
            <div class="pilotImageContainer">
                <img src="assets/images/p (2).png" class="pilotImage">
            </div>

            <div class="simpleText">{{driver.name}}</div>
            <div class="separator"></div>
            <div class="priceAndFlag">
                <div class="simpleText">{{driver.price}}$</div>
                <img class="flag" src={{driver.country}}>
            </div>

            <div class="cardButton" (click)="addPilotToCar(driver)">
                <div class="simpleText" style="color: white;">Comprar</div>
            </div>

        </div>
    </div>

    <div class="driversContainer" *ngIf="!seeingDrivers">
        <div class="carCard cardOverride" *ngFor="let scuderia of scuderias">
            <div class="carImageContainer">
                <img src="assets/images/c (2).png" class="carImage">
            </div>

            <div class="simpleText">{{scuderia.name}}</div>
            <div class="separator"></div>
            <div class="priceAndFlag">
                <div class="simpleText">{{scuderia.price}}$</div>

            </div>

            <div class="cardButton" (click)="addCarToCar(scuderia)">
                <div class="simpleText" style="color: white;">Comprar</div>
            </div>

        </div>
    </div>


</div>